
AcademicSuccess/tested/ExtraTreesClassifier.pkl
PoisonousMushrooms/data/test.csv
PoisonousMushrooms/data/train.csv
InsuranceSelling/tested/KNearestNeighboor.pkl
InsuranceSelling/tested/DecisionTreeCassifier.pkl
InsuranceSelling/data/Archive.zip
InsuranceSelling/data/test.csv
InsuranceSelling/data/train.csv
PoisonousMushrooms/model/model.pkl

